@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
    background-color: #18181b;
    color: lightgray;
    font-family: "Roboto", sans-serif;
}
